#slide{
  width: 90vw;
  height: 50vw;
  overflow: hidden;
  position: relative;
  margin: auto; 
  margin-top: 6vw;
}

#slide-imgs{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  position: absolute; 
  transition: transform 1s;
}
  
.banner{
  width: 90vw;
  height: 50vw;
}

  
.slide-radios{
  position: relative;
  top: calc(50vw - 20px);
  left: calc(50% - 5ch);
  width: 30vw;
}

